*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#Homepagebox{
 width: 100%;
 height: 70vh;
 background-color: orange;
 display: flex;
 justify-content: center;
 align-items: center;
}
#Homepagebox.actives{
    background: rgb(119, 180, 200);
    transition: 0.5s;
}
.hmewrapper{
    width: 85%;
    height: 100%;
    /* background-color: white; */
    display: flex;
    align-items: center;
}
.lefthme{
    width: 60%;
    height: 90%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 8%;
   
}
.lefthme h1{
    font-size: 50px;
    font-family: "raleway","poppins";
    font-weight: 700;

}
.lefthme span{
    color: white;
}
.p{
    font-size: 20px;
    font-family: "raleway";
    font-weight: 700;
    color: white;
}
.lefthme p{
    font-size: 20px;
    font-family: "raleway";
    font-weight: 700;  
}
.righthom{
    width: 70%;
    height: 100%;
    /* background-color: white; */
    display: flex;
    align-items: flex-end;
    /* justify-content: center; */
}
.girlimg{
    width: 80%;
    height: 100%;
    /* background-color: red; */
}
.girlimg img{
    width: 100%;
    height: 100%;
    object-fit:contain;
    /* background-position: center; */
}